<mat-sidenav-container class="container" >
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedBottomGap="64" fixedTopGap="64" >
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/projects">
                <i class="material-icons">
                    work
                </i>
                Projetos
            </a>
            <a mat-list-item routerLink="/project/simulation">
                <i class="material-icons">
                    monetization_on
                </i>
                Simular
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>