<mat-card class="maincard">
    <mat-card-title>Projetos</mat-card-title>
    <mat-list class="list">
        <mat-list-item>projeto1</mat-list-item>
        <mat-list-item>projeto2</mat-list-item>
        <mat-list-item>projeto3</mat-list-item>
        <mat-list-item>projeto4</mat-list-item>
    </mat-list>
    <mat-card-actions class="button-group">
        <button (click)="navigate()">Novo</button>
        <button>Editar</button>
        <button>Simular</button>
    </mat-card-actions>
</mat-card>    