<mat-card class="maincard">
    <mat-card-title>Novo projeto</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="project.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="imagem" 
            [(ngModel)]="project.logo" name="logo">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="data início" 
            [(ngModel)]="project.start_date" name="start-date">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="data fim" 
            [(ngModel)]="project.end_date" name="end-date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor R$" 
            [(ngModel)]="project.value" name="valor">
        </mat-form-field>
        
    </form>
    
    <div>
        <label>RISCO</label>
        <mat-radio-group>
            <mat-radio-button>Baixo</mat-radio-button>
            <mat-radio-button>Médio</mat-radio-button>
            <mat-radio-button>Alto</mat-radio-button>
        </mat-radio-group>
    </div>
    
    <mat-card-actions class="button-group">
        <button >Salvar</button>
        <button >Cancelar</button>
        <button >Simular</button>
    </mat-card-actions>
</mat-card>    