.maincard{
    height: 400px;
    width: 300px;
    border-width: 2px;
    border-style: solid;
    margin-left: 100px;
    margin-top: 50px;
}

.mat-radio-button{
    margin-left: 16px;
}

.div{
    margin-bottom: 15px;
}

.button-group{
    margin: 10px;
    margin-left: 50px;
}